  
<html>
  <head>
      <meta charset="UTF-8">
      <title> Postagens </title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">              
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    {% if resultado == "vazio" %}
            <div>
                <img src="/static/uploads/img_default.png" class="avatar">
            </div>
        {% else %}
            <div>
                <img src="data:image/jpeg;base64,{{ foto_perfil }}" class="avatar"/>
            </div>
        {% endif %}
    <div class="header">
      <h1 class="word">Adicionar postagem/n(s)</h1>
    </div>
    <li><a href="{{ url_for('dashboard_admin', admin = session.username) }}">
        Inicio
    </a></li>
    <li><a href="{{ url_for('adicionar_postagens_administrador_template', admin = session.username) }}">
        Postagens
    </a></li>
    <li><a href="{{ url_for('upload_form', admin = session.username) }}">
        Foto de Perfil
    </a></li>
    {% for item in descricao_funcao %}
        {% if item == "Criar Grupos" %}
            <li><a href="{{ url_for('criar_grupo', admin = session.username) }}">
                {{ item }}
            </a></li>
        {% elif item == "Editar Grupos" %}
            <li><a href="{{ url_for('procurar_editar_grupo_template', admin = session.username) }}">
                {{ item }}
            </a></li>
        {% elif item == "Deletar Grupos" %}
            <li><a href="{{ url_for('procurar_deletar_grupo_template', admin = session.username) }}">
                {{ item }}
            </a></li>
        {% elif item == "Editar Usuarios" %}
            <li><a href="{{ url_for('procurar_editar_usuario_template', admin = session.username) }}">
                {{ item }}
            </a></li>
        {% else %}
            <li><a href="{{ url_for('procurar_banir_usuario_template', admin = session.username) }}">
                {{ item }}
            </a></li>
        {% endif %}
    {% endfor %}
      <div align="center">
        <div align="center" class="border">
           <div class="header">
              <h1 class="word"> Postagens </h1>
           </div></br></br></br>
          <h2 class="word">
              <form action="{{ url_for('adicionar_postagens_administrador', admin = session.username) }}" method="post">
                <div class="msg">{{ msg }}</div>
                  <input id="nome" name="descricao" type="text" placeholder="O que você está pensando?" class="textbox"/></br></br>
                  <input type="submit" class="btn" value="Postar">
              </form>
          </h2>
        </div>
        <!-- <input id="livebox" name="nome" type="text" placeholder="Insira o nome do usuário"/> -->
        <p id = "datalist"></p>
      </div>
  </body>

  <script>
    $(document).ready(function(){
      $.ajax({
          method:"post",
          url:"/procurar_postagem_administrador",
          data:{ },
          success:function(res){   
              var data = "<ul>";
              $.each(res,function(index,value){
                  
                data += `<li><strong><font color="blue">${value[0]}</font></strong>: ${value[1]}</li>`;
                  
              });
              data += "</ul>";
              $("#datalist").html(data);
          }
      });
    });
  </script>
  <style>
    .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    }
</style>

</html>