  
<html>
  <head>
      <meta charset="UTF-8">
      <title> Postagens </title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">              
  </head>
  <body>
    <div>
      <ul>
          <li><a href="{{ url_for('dashboard_usuario', usuario = session.username) }}">Perfil</a></li>
          <li><a href="news.asp">Feed</a></li>
          <li><a href="{{ url_for('adicionar_postagens_template', usuario = session.username) }}">Postagens</a></li>
          <li><a href="{{ url_for('procurar_entrar_grupo_template', usuario = session.username) }}">Grupos</a></li>
          <li><a href="{{ url_for('procurar_adicionar_usuarios_template', usuario = session.username) }}">Procurar Usuarios</a></li>
      </ul>
    </div>
      <div align="center">
        <div align="center" class="border">
           <div class="header">
              <h1 class="word"> Postagens </h1>
           </div></br></br></br>
          <h2 class="word">
              <form action="{{ url_for('adicionar_postagens', usuario = session.username) }}" method="post">
                <div class="msg">{{ msg }}</div>
                  <input id="nome" name="descricao" type="text" placeholder="O que você está pensando?" class="textbox"/></br></br>
                  <input type="submit" class="btn" value="Postar">
              </form>
          </h2>
        </div>
      </div>
  </body>
</html>