<html>
    <head>
        <meta charset="UTF-8">
        <title> {{ session.username }} </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">                     
    </head>
    <body>
        {% if resultado == "vazio" %}
            <div>
                <img src="/static/uploads/img_default.png" class="avatar">
            </div>
        {% else %}
            <div>
                <img src="data:image/jpeg;base64,{{ foto_perfil }}" class="avatar"/>
            </div>
        {% endif %}
        <ul>
            <li><a href="{{ url_for('dashboard_admin', admin = session.username) }}">
                Inicio
            </a></li>
            <li><a href="{{ url_for('adicionar_postagens_administrador_template', admin = session.username) }}">
                Postagens
            </a></li>
            <li><a href="{{ url_for('upload_form', admin = session.username) }}">
                Foto de Perfil
            </a></li>
            {% for item in descricao_funcao %}
                {% if item == "Criar Grupos" %}
                    <li><a href="{{ url_for('criar_grupo', admin = session.username) }}">
                        {{ item }}
                    </a></li>
                {% elif item == "Editar Grupos" %}
                    <li><a href="{{ url_for('procurar_editar_grupo_template', admin = session.username) }}">
                        {{ item }}
                    </a></li>
                {% elif item == "Deletar Grupos" %}
                    <li><a href="{{ url_for('procurar_deletar_grupo_template', admin = session.username) }}">
                        {{ item }}
                    </a></li>
                {% elif item == "Editar Usuarios" %}
                    <li><a href="{{ url_for('procurar_editar_usuario_template', admin = session.username) }}">
                        {{ item }}
                    </a></li>
                {% else %}
                    <li><a href="{{ url_for('procurar_banir_usuario_template', admin = session.username) }}">
                        {{ item }}
                    </a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <!-- <li><a href="news.asp">Criar Grupo</a></li>
        <li><a href="contact.asp">Deletar Grupo</a></li>
        <li><a href="about.asp">Editar Grupo</a></li>
        <li><a href="about.asp">Banir Usuario</a></li> -->
    </br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
            <div class="header">
                <h1 class="word">Administrador</h1>
            </div></br></br></br>
            <!-- <div class="descricao_funcao">{{ descricao_funcao }}</div> -->
                <h1 class="bottom">
                    Hi {{ session.username }}!!</br></br> Seja bem-vindo a página de administrador
                </h1></br></br></br>
                <a href="{{ url_for('logout') }}" class="btn">Logout</a>
          </div>
        </div>
    </body>

    <style>
        .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        }
    </style>
    
    
</html>