<html>
    <head>
        <meta charset="UTF-8">
        <title> {{ session.username }} </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">                     
    </head>
    <body>
        {% if resultado == "vazio" %}
        <div>
            <img src="/static/uploads/img_default.png" class="avatar">
        </div>
        {% else %}
        <div>
            <!-- <img src="{{ url_for('display_image', filename=filename) }}" class="avatar"> -->
            <img src="data:image/jpeg;base64,{{ foto_perfil }}" class="avatar"/>
        </div>
        {% endif %}
        <ul>
            <li><a href="{{ url_for('dashboard_admin', admin = session.username) }}">
                Inicio
            </a></li>
            <li><a href="{{ url_for('adicionar_postagens_administrador', admin = session.username) }}">
                Postagens
            </a></li>
            {% for item in descricao_funcao %}
                {% if item == "Criar Grupos" %}
                    <li><a href="{{ url_for('criar_grupo', admin = session.username) }}">
                        {{ item }}
                    </a></li>
                {% elif item == "Editar Grupos" %}
                    <li><a href="{{ url_for('procurar_editar_grupo_template', admin = session.username) }}">
                        {{ item }}
                    </a></li>
                {% elif item == "Deletar Grupos" %}
                    <li><a href="{{ url_for('procurar_deletar_grupo_template', admin = session.username) }}">
                        {{ item }}
                    </a></li>
                {% elif item == "Editar Usuarios" %}
                    <li><a href="{{ url_for('procurar_editar_usuario_template', admin = session.username) }}">
                        {{ item }}
                    </a></li>
                {% else %}
                    <li><a href="{{ url_for('procurar_banir_usuario_template', admin = session.username) }}">
                        {{ item }}
                    </a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
            <div class="header">
                <h1 class="word">Criar Grupo</h1>
            </div></br></br></br></br></br>
            <form action="{{ url_for('criar_grupo', admin = session.username) }}" method="post">
                <div class="msg">{{ msg }}</div>
                <input id="nome" name="nome" type="text" placeholder="Insira o Nome do grupo" class="textbox"/></br></br>
                <input type="submit" class="btn" value="Criar Grupo"></br></br>
            </form>
          </div>
        </div>
    </body>
    <style>
        .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        }
    </style>
</html>