<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div class="header">
      <h1 class="word">Deletar Grupo</h1>
      <div class="msg">{{ msg }}</div>
    </div>
    {% if resultado == "vazio" %}
        <div>
            <img src="/static/uploads/img_default.png" class="avatar">
        </div>
        {% else %}
        <div>
            <!-- <img src="{{ url_for('display_image', filename=filename) }}" class="avatar"> -->
            <img src="data:image/jpeg;base64,{{ foto_perfil }}" class="avatar"/>
        </div>
    {% endif %}
    <li><a href="{{ url_for('dashboard_admin', admin = session.username) }}">
        Inicio
    </a></li>
    <li><a href="{{ url_for('adicionar_postagens_administrador', admin = session.username) }}">
        Postagens
    </a></li>
    {% for item in descricao_funcao %}
        {% if item == "Criar Grupos" %}
            <li><a href="{{ url_for('criar_grupo', admin = session.username) }}">
                {{ item }}
            </a></li>
        {% elif item == "Editar Grupos" %}
            <li><a href="{{ url_for('procurar_editar_grupo_template', admin = session.username) }}">
                {{ item }}
            </a></li>
        {% elif item == "Deletar Grupos" %}
            <li><a href="{{ url_for('procurar_deletar_grupo_template', admin = session.username) }}">
                {{ item }}
            </a></li>
        {% elif item == "Editar Usuarios" %}
            <li><a href="{{ url_for('procurar_editar_usuario_template', admin = session.username) }}">
                {{ item }}
            </a></li>
        {% else %}
            <li><a href="{{ url_for('procurar_banir_usuario_template', admin = session.username) }}">
                {{ item }}
            </a></li>
        {% endif %}
    {% endfor %}
    <input id="livebox" name="nome" type="text" placeholder="Insira o nome do Grupo"/>
    <p id="datalist"></p>
    <button onclick="clickFunction()">Deletar!</button>
</body>
<script>
    $(document).ready(function(){
        $("#livebox").on("input",function(e){
            $("#datalist").empty();
            $.ajax({
                method:"post",
                url:"/procurar_grupo",
                data:{text:$("#livebox").val()},
                success:function(res){
                    
                    var data = "<ul>";
                    $.each(res,function(index,value){
                        
                        
                        data += `<li class="list-item" id = "index${index}" data-value="${value}">${value}<input type="checkbox" class="list-input"></li>`;
                        
                    });
                    data += "</ul>";
                    $("#datalist").html(data);
                }
            });
        });
    });
    function clickFunction() {
        var elements_in = document.getElementsByClassName("list-input");
        var elements_li = document.getElementsByClassName("list-item");
        // l = document.getElementById("1").getAttribute('data-value');
        // console.log(l);
        var arr = [];
        var l;
        for (var i = 0; i < elements_in.length; i++) {
            if(elements_in[i].checked == true){
                l = $(elements_li[i]).attr("data-value");
                arr.push(l);
            }
        }
        fetch('/deletar_grupo', {

        // Declare what type of data we're sending
        headers: {
        'Content-Type': 'application/json'
        },

        // Specify the method
        method: 'POST',

        // A JSON payload
        body: JSON.stringify({
            "Grupos": arr
        })
        
        }).then(function (response) { // At this point, Flask has printed our JSON
            return response.text();
        }).then(function (text) {

        console.log('POST response: ');

        // // Should be 'OK' if everything was successful
        console.log(text);
        });
        //return arr;
    }
</script>
<style>
    .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    }
</style>
</html>