<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Editar Grupo </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div class="header">
        <h1 class="word">Editar Grupo</h1></br></br>
    </div>
    <li><a href="{{ url_for('dashboard_admin', admin = session.username) }}">
      Início
    </a></li>
    {% for item in descricao_funcao %}
        {% if item == "Criar Grupos" %}
            <li><a href="{{ url_for('criar_grupo', admin = session.username) }}">
                {{ item }}
            </a></li>
        {% elif item == "Editar Grupos" %}
            <li><a href="{{ url_for('procurar_editar_grupo_template', admin = session.username) }}">
                {{ item }}
            </a></li>
        {% elif item == "Deletar Grupos" %}
            <li><a href="{{ url_for('procurar_deletar_grupo_template', admin = session.username) }}">
                {{ item }}
            </a></li>
        {% elif item == "Editar Usuarios" %}
            <li><a href="{{ url_for('procurar_editar_usuario_template', admin = session.username) }}">
                {{ item }}
            </a></li>
        {% else %}
            <li><a href="{{ url_for('procurar_banir_usuario_template', admin = session.username) }}">
                {{ item }}
            </a></li>
        {% endif %}
    {% endfor %}
    <h2 class="word">
      <form action="{{ url_for('editar_grupo') }}" method="post">
        <div class="msg">{{msg}}</div>
          <input id = "editar" name="nome" type="text" placeholder="Insira o novo nome do grupo"></br></br>
          <input id = "editar" name ="grupo" value="{{grupo}}" type="text" readonly="readonly"></br></br>
          <input type="submit" class="btn" value="Editar"></br></br>
      </form>
    </h2>
    
    <!-- <button onclick="clickFunction()">Editar!</button -->
</body>
<!-- <script>
  function clickFunction() {
  
  }
</script> -->
</html>