<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Editar Grupo </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div class="header">
        <h1 class="word">Editar Usuário</h1></br></br>
    </div>
    {% if resultado == "vazio" %}
        <div>
            <img src="/static/uploads/img_default.png" class="avatar">
        </div>
        {% else %}
        <div>
            <!-- <img src="{{ url_for('display_image', filename=filename) }}" class="avatar"> -->
            <img src="data:image/jpeg;base64,{{ foto_perfil }}" class="avatar"/>
        </div>
    {% endif %}
    <li><a href="{{ url_for('dashboard_admin', admin = session.username) }}">
      Início
    </a></li>
    <li><a href="{{ url_for('adicionar_postagens_administrador', admin = session.username) }}">
        Postagens
    </a></li>
    {% for item in descricao_funcao %}
        {% if item == "Criar Grupos" %}
            <li><a href="{{ url_for('criar_grupo', admin = session.username) }}">
                {{ item }}
            </a></li>
        {% elif item == "Editar Grupos" %}
            <li><a href="{{ url_for('procurar_editar_grupo_template', admin = session.username) }}">
                {{ item }}
            </a></li>
        {% elif item == "Deletar Grupos" %}
            <li><a href="{{ url_for('procurar_deletar_grupo_template', admin = session.username) }}">
                {{ item }}
            </a></li>
        {% elif item == "Editar Usuarios" %}
            <li><a href="{{ url_for('procurar_editar_usuario_template', admin = session.username) }}">
                {{ item }}
            </a></li>
        {% else %}
            <li><a href="{{ url_for('procurar_banir_usuario_template', admin = session.username) }}">
                {{ item }}
            </a></li>
        {% endif %}
    {% endfor %}
    <h2 class="word">
      <form action="{{ url_for('editar_usuario') }}" method="post">
        <div class="msg">{{msg}}</div>
            <input id = "editar1" name="nome" type="text" placeholder="Insira o novo nome do usuário"></br></br>
            <input id = "editar2" name="senha" type="text" placeholder="Insira a nova senha do usuário"></br></br>
            <input id = "editar3" name="email" type="text" placeholder="Insira o novo email do usuário"></br></br>
            <input id = "editar4" name ="nomeAtual" value="{{usuario.0}}" type="text" readonly="readonly"></br></br>
            <input id = "editar5" name ="senhaAtual" value="{{usuario.3}}" type="text" readonly="readonly"></br></br>
            <input id = "editar6" name ="emailAtual" value="{{usuario.2}}" type="text" readonly="readonly"></br></br>
            <input type="submit" class="btn" value="Editar"></br></br>
      </form>
    </h2>
    
    <!-- <button onclick="clickFunction()">Editar!</button -->
</body>
<style>
    .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    }
</style>
</html>