<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div class="header">
        <h1 class="word">Entrar Grupo</h1>
    </div>
    <div>
      <ul>
          <li><a href="{{ url_for('dashboard_usuario', usuario = session.username) }}">Perfil</a></li>
          <li><a href="news.asp">Feed</a></li>
          <li><a href="{{ url_for('adicionar_postagens_template', usuario = session.username) }}">Postagens</a></li>
          <li><a href="{{ url_for('procurar_entrar_grupo_template', usuario = session.username) }}">Grupos</a></li>
          <li><a href="{{ url_for('procurar_adicionar_usuarios_template', usuario = session.username) }}">Procurar Usuarios</a></li>
      </ul>
    </div>
    <input id="livebox" name="nome" type="text" placeholder="Insira o nome do grupo"/>
    <p id = "datalist"></p>
    <button onclick="clickFunction()">Entrar!</button>
</body>
<script>
    $(document).ready(function(){
        $("#livebox").on("input",function(e){
            $("#datalist").empty();
            $.ajax({
                method:"post",
                url:"/procurar_grupo_para_entrar",
                data:{text:$("#livebox").val()},
                success:function(res){
                    
                    var data = "<ul>";
                    $.each(res,function(index,value){
                        
                        data += `<li class="list-item" id = "index${index}" data-value="${value}">${value}<input type="checkbox" class="list-input"></li>`;
                        
                    });
                    data += "</ul>";
                    $("#datalist").html(data);
                }
            });
        });
    });
    function clickFunction() {
        var elements_in = document.getElementsByClassName("list-input");
        var elements_li = document.getElementsByClassName("list-item");
        var arr = [];
        var l;
        for (var i = 0; i < elements_in.length; i++) {
            if(elements_in[i].checked == true){
                l = $(elements_li[i]).attr("data-value");
                arr.push(l);
            }
        }
        fetch('/entrar_grupo', {

        // Declare what type of data we're sending
        headers: {
        'Content-Type': 'application/json'
        },

        // Specify the method
        method: 'POST',

        // A JSON payload
        body: JSON.stringify({
            "Grupos": arr
        })
        
        }).then(function (response) { // At this point, Flask has printed our JSON
            return response.text();
        }).then(function (text) {

        console.log('POST response: ');

        // // Should be 'OK' if everything was successful
        console.log(text);
        });
        //return arr;
    }
</script>
</html>