<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <h1>Simple Login Form</h1>
  <br>

  <form method = 'POST' , action = '/'>
  <br>
  Name: <input type = 'text' name="nome" required/>
  <br>
  Email: <input type = 'email' name="email" required/>
  <br>
  Senha: <input type = 'password' name="senha" required/>
  <br>
  <input type = 'submit'/> 
  </form>
  
</body>
</html>

