<html>
    <head>
        <meta charset="UTF-8">
        <title> {{ session.username }} </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">                     
    </head>
    <body>
        {% if resultado == "vazio" %}
            <div>
                <img src="/static/uploads/img_default.png" class="avatar">
            </div>
        {% else %}
            <div>
                <img src="data:image/jpeg;base64,{{ foto_perfil }}" class="avatar"/>
            </div>
        {% endif %}
        <ul>
            <li><a href="{{ url_for('dashboard_admin', admin = session.username) }}">
                Inicio
            </a></li>
            <li><a href="{{ url_for('adicionar_postagens_administrador_template', admin = session.username) }}">
                Postagens
            </a></li>
            <li><a href="{{ url_for('listar_administradores', admin = session.username) }}">
                Listar Administradores
            </a></li>
            <li><a href="{{ url_for('upload_form', admin = session.username) }}">
                Foto de Perfil
            </a></li>
            {% for item in descricao_funcao %}
                {% if item == "Criar Grupos" %}
                    <li><a href="{{ url_for('criar_grupo', admin = session.username) }}">
                        {{ item }}
                    </a></li>
                {% elif item == "Editar Grupos" %}
                    <li><a href="{{ url_for('procurar_editar_grupo_template', admin = session.username) }}">
                        {{ item }}
                    </a></li>
                {% elif item == "Deletar Grupos" %}
                    <li><a href="{{ url_for('procurar_deletar_grupo_template', admin = session.username) }}">
                        {{ item }}
                    </a></li>
                {% elif item == "Editar Usuarios" %}
                    <li><a href="{{ url_for('procurar_editar_usuario_template', admin = session.username) }}">
                        {{ item }}
                    </a></li>
                {% else %}
                    <li><a href="{{ url_for('procurar_banir_usuario_template', admin = session.username) }}">
                        {{ item }}
                    </a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </br></br></br></br></br>
      <table>
        <tr>
          <!-- <th>Foto de Perfil</th> -->
          <th>Nome</th>
          <th>Email</th>
        </tr>
        {% for admin in administradores_array %}
          <tr>
            <td>{{admin[0]}}</td>
            <td>{{admin[1]}}</td>
          </tr>
        {% endfor %}
        
      </table> 
      <tr>Total de Administradores: {{count_administradores}}</tr>
    </body>

    <style>
        .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        }
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
    
    
</html>