<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div class="header">
        <h1 class="word">Entrar Grupo</h1>
    </div>
    <div>
      <ul>
          <li><a href="{{ url_for('dashboard_usuario', usuario = session.username) }}">Perfil</a></li>
          <li><a href="news.asp">Feed</a></li>
          <li><a href="{{ url_for('adicionar_postagens_template', usuario = session.username) }}">Postagens</a></li>
          <li><a href="{{ url_for('procurar_entrar_grupo_template', usuario = session.username) }}">Grupos</a></li>
          <li><a href="{{ url_for('procurar_adicionar_usuarios_template', usuario = session.username) }}">Procurar Usuarios</a></li>
      </ul>
    </div>
    <input id="livebox" name="nome" type="text" placeholder="Insira o nome do usuário"/>
    <p id = "datalist"></p>
</body>
<script>
    $(document).ready(function(){
        $("#livebox").on("input",function(e){
            $("#datalist").empty();
            $.ajax({
                method:"post",
                url:"/procurar_adicionar_usuarios",
                data:{text:$("#livebox").val()},
                success:function(res){
                    
                    var data = "<ul>";
                    $.each(res,function(index,value){
                        
                        data += "<li>"+value+"</li>";
                        
                    });
                    data += "</ul>";
                    $("#datalist").html(data);
                }
            });
        });
    });
</script>
</html>