  
<html>
  <head>
      <meta charset="UTF-8">
      <title> Register </title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">              
  </head>
  <body></br></br></br></br></br>
      <div align="center">
        <div align="center" class="border">
           <div class="header">
              <h1 class="word">Registrar</h1>
           </div></br></br></br>
          <h2 class="word">
              <form action="{{ url_for('register') }}" method="post">
                <div class="msg">{{ msg }}</div>
                  <input id="nome" name="nome" type="text" placeholder="Insira o seu usuário" class="textbox"/></br></br>
                  <input id="password" name="senha" type="password" placeholder="Insira a sua senha" class="textbox"/></br></br>
                  <input id="email" name="email" type="text" placeholder="Insire o seu email" class="textbox"/></br></br>
                  <input type="radio" id="usuario" name="tipo_especialidade" value="usuario" onclick="clickFunction()">
                  <label for="usuario">Usuario</label>
                  <input type="radio" id="administrador" name="tipo_especialidade" value="administrador" onclick="clickFunction()">
                  <label for="administrador">Administrador</label></br></br>
                  <input type="checkbox" name="funcao_Criar Grupos" id="funcao_Criar Grupos" disabled>Criar Grupos
                  <input type="checkbox" name="funcao_Editar Grupos" id="funcao_Editar Grupos" disabled>Editar Grupos<br>
                  <input type="checkbox" name="funcao_Deletar Grupos" id="funcao_Deletar Grupos" disabled>Deletar Grupos<br>
                  <input type="checkbox" name="funcao_Banir Usuarios" id="funcao_Banir Usuarios" disabled>Banir Usuarios
                  <input type="checkbox" name="funcao_Editar Usuarios" id="funcao_Editar Usuarios" disabled>Editar Usuarios<br>
                  <input type="submit" class="btn" value="Sign Up">
              </form>
          </h2>
          <p class="bottom">Você já tem uma conta? <a class="bottom" href="{{url_for('login')}}"> Entre aqui!</a></p>
        </div>
      </div>
      <script>
        function clickFunction() {
          var radio_admin = document.getElementById("administrador");
          var criar_grupos = document.getElementById("funcao_Criar Grupos");
          var editar_grupos = document.getElementById("funcao_Editar Grupos");
          var deletar_grupos = document.getElementById("funcao_Deletar Grupos");
          var banir_usuarios = document.getElementById("funcao_Banir Usuarios");
          var editar_usuarios = document.getElementById("funcao_Editar Usuarios");
          
          if(radio_admin.checked == true){
            document.getElementById("funcao_Criar Grupos").disabled = false;
            document.getElementById("funcao_Editar Grupos").disabled = false;
            document.getElementById("funcao_Deletar Grupos").disabled = false;
            document.getElementById("funcao_Banir Usuarios").disabled = false;
            document.getElementById("funcao_Editar Usuarios").disabled = false;
          }
          if(radio_admin.checked == false){
            document.getElementById("funcao_Criar Grupos").disabled = true;
            document.getElementById("funcao_Editar Grupos").disabled = true;
            document.getElementById("funcao_Deletar Grupos").disabled = true;
            document.getElementById("funcao_Banir Usuarios").disabled = true;
            document.getElementById("funcao_Editar Usuarios").disabled = true;
            criar_grupos.checked = false;
            editar_grupos.checked = false;
            deletar_grupos.checked = false;
            banir_usuarios.checked = false;
            editar_usuarios.checked = false;
          }
        }
    </script>
  </body>
</html>