<!-- Search Bar -->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-  
        scale=1">
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-
        awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/search.css">
    </head>
    <body>
        <form class="example" method="post" action="" 
         style="margin:auto;max-width:600px">
            <input type="text" placeholder="Procure por nome ou email de um usuário" name="usuario">
            <button type="submit">Pesquisar<i class="fa fa-search"></i>
            </button>
        </form>
        <p></p>
        <div>
            {% for item in data %}
            <tr>
                {{ item }}
                {{ item.1 }}
            </tr>
            {% endfor %}
        </div>
        <button type="submit" ><a  href="/login" class="fa fa-search">Voltar</a></button>
    </body>
</html>