<html>
    <head>
        <meta charset="UTF-8">
        <title> {{ session.username }} </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">                     
    </head>
    <body>
        
        <div>
            {% if resultado == "vazio" %}
            <div>
                <img src="/static/uploads/img_default.png" class="avatar">
            </div>
            {% else %}
            <div>
                <!-- <img src="{{ url_for('display_image', filename=filename) }}" class="avatar"> -->
                <img src="data:image/jpeg;base64,{{ foto_perfil }}" class="avatar"/>
            </div>
            {% endif %}
            <ul>
                <li><a href="{{ url_for('upload_form') }}">Foto de Perfil</a></li>
                <li><a href="{{ url_for('adicionar_postagens_template', usuario = session.username) }}">Postagens</a></li>
                <li><a href="{{ url_for('procurar_entrar_grupo_template', usuario = session.username) }}">Grupos</a></li>
                <li><a href="{{ url_for('procurar_adicionar_usuarios_template', usuario = session.username) }}">Procurar Usuarios</a></li>
            </ul>
        </div>
        </br></br></br></br></br>
        <div align="center">
            <div align="center" class="border">
                <div class="header">
                <h1 class="word">Usuario</h1>
                </div></br></br></br>
                <h1 class="bottom">
                    Olá {{ session.username }}!!</br></br> Seja bem-vindo a página de usuário
                </h1></br></br></br>
                <a href="{{ url_for('logout') }}" class="btn">Logout</a>
            </div>
        </div>
    </body>
    <style>
        .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        }
    </style>
    
</html>